<ion-view title="Groupr">
  <ion-content class="padding">
  	<div class="list list-inset">
	  <label class="item item-input">
	    <input type="text" placeholder="Username">
	  </label>
	  <label class="item item-input">
	    <input type="password" placeholder="Password">
	  </label>
	</div>
	<button ng-click="loginFacebook()" class="center button button-calm button-block">
		Sign in
	</button>
    <button ng-click="loginFacebook()" style="background-color:#3b5998;color:#efefef" class="center button ion-social-facebook button-block">
      Sign in with Facebook
    </button>
    <button ng-click="loginInstagram()" style="background-color:#517fa4;color:#efefef" class="center button ion-social-instagram button-block">
      Sign in with Instagram
    </button>

  </ion-content>
</ion-view>