<ion-view title="Friends">
	<ion-content>
		<ion-list>
			<ion-item ng-repeat="friend in friends" type="item-text-wrap" class="item item-avatar item-icon-right" href="#/tab/friend/{{friend.id}}">
			    <img ng-src="{{friend.avatar}}"/>
			    <div>
				  <h3 style="font-weight:bold; font-size:20px;">{{friend.name}}</h3>
				  <i class="icon" ng-class="{'ion-social-facebook facebook': friend.from=='Facebook', 'ion-social-instagram instagram': friend.from=='Instagram'}"></i>
			    </div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
