.item-thumbnail-left, .item-thumbnail-left .item-content {
  padding-left: 90px;
  min-height: 80px; }
.item-thumbnail-left > img:first-child, .item-thumbnail-left .item-image, .item-thumbnail-left .item-content > img:first-child, .item-thumbnail-left .item-content .item-image {
    position: absolute;
    top: 20px;
    left: 20px;
    max-width: 60px;
    max-height: 60px;
    width: 100%; }

.item-avatar.item-complex, .item-avatar-left.item-complex, .item-thumbnail-left.item-complex {
  padding-left: 0; }

.p5 {
	padding-right: 5px;
	padding-left: 2px;
}

a {
	text-decoration: none;
}

.facebook{
  color:#3b5998;
}

.instagram{
  color: #517fa4;
}
i.icon.ion-android-friends.unliked{
    font-size:30px;
  }
i.icon.ion-android-friends.liked{
    font-size:30px;
    color : blue;
  }

.tabs{
  color: #427676;
}

.button.button-calm
{
  background-color: #3F9A82;
  border-color: #3F9A82;
  font-size: 18px;
}

.bar.bar-balanced .title 
{
  font-size: 22px;
}